body {
    margin: 0%;
    padding: 0%;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: aqua;
    border-bottom: solid black 2px;
}

.nav>div>a {
    text-decoration: none;
    color: black;
    font-size: 5vh;
}

.logo {
    font-size: 15vh;
}

.aside {
    grid-area: aside;
}

.aboutUs {
    grid-area: aboutUs;

}


.footer {
    grid-area: footer;

}

.awards{
    grid-area: awards;
}
 
p{
    font-size: x-large;
}

.starPic{
    grid-area: starPic;
    display: inline;
}

.starPara{
    grid-area: starPara;
    display: inline;
}

.newTimesPic{
    grid-area: newTimesPic;
    display: inline;
}

.newTimesPara{
    grid-area: newTimesPara;
    display: inline;
}

.awards{
    grid-area: awards;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas: 
    'awardsTitle awardsTitle'
    'starPara starPic'
    'newTimesPic newTimesPara';
}

.newTimesPara{
    grid-area: newTimesPara;
}

.container {
    height: 100%;
    margin: auto;
    width: 50%;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "aboutUs"
        "timeline"
        "awards"
        "footer"
    ;
}

.hidden{
    opacity: 0;
    transition: all 1.25s;
    filter: blur(5px);
}

.show{
    opacity: 1;
    filter: blur(0);
}

.hiddenStarPic{
    opacity: 0;
    transition: all 1.85s;
    transform: translateX(100%);
}

.showStarPic{
    opacity: 1;
    transform: translateX(0);
}

.hiddenBestPic {
    opacity: 0;
    transition: all 2s;
    transform: translateX(-100%);
}

.showBestPic {
    opacity: 1;
    transform: translateX(0);
}

@font-face {
    font-family: "Fancy";
    src: url(Maytra.ttf);
}


