/* nav bar */
html{
    width: 100%;
    height: 100%;
    padding: 0%;
    
}

body {
    margin: 0%;
    background-color: #DADDD8   ;
}

nav {
    display: flex;
    background-color: white;
    width: 100vw;
    height: 12vh;
    position: fixed;
    left: 0;
    top: 0;
    border-bottom: .3vw solid rgba(0, 0, 0, .2);
    align-items: center;
    font-size: 1.5vw;
    font-family: inter;

}

nav>a {
    color: black;
    padding-left: 5vw;
    text-decoration: none;
    transition: .3s;
}

nav>a:hover {
    color: #1b998b;
    text-decoration: underline .2vw;
}

#logo {
    padding-left: 2vw;
    width: 3.5vw;
    height: 3.5vw;
}

#cart {
    color: #1b998b;
    font-size: 1vw;
    position: relative;
    left: 48%;
    transform: translateX(-50%);
    padding: .5vw 1vw;
    border: #1b998b solid .5vw;
    border-radius: 15% / 45%;
    transition: .5s;
}

#cart:hover {
    color: white;
    background-color: #1b998b;
    text-decoration: none;
}

#menu {
    text-decoration: underline .2vw;
    color: #1b998b;
}

#nav2 {
    height: 12vh;
    border-bottom: .3vw solid rgba(0, 0, 0, 0);
    margin: 0;
}

/* About Main Page */
.aboutTitle{
    text-align: center;
    font-family: inter;
}

.story{
    grid-area: story;
    justify-self: right;
    background-color: #1b998b;
    color: white;
    
}

.values{
    grid-area: values;
    justify-self: left;
    background-color: #1b998b;
    color: white;
    
}

.leader{
    grid-area: leader;
    justify-self: right;
    background-color: #1b998b;
    color: white;
    
}

.news {
    grid-area: news;
    justify-self: left;
    background-color: #1b998b;
    color: white;
    
}

.aboutPics{
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}

.aboutLink {
    text-decoration: none;
    color: white;
    font-family: inter;
}

.aboutContainer{
    font-family: 'inter';
    display: grid;
    height: 100vh;
    text-align: center;
    column-gap: 1.5%;
    row-gap: 2%;
    margin: auto;
    justify-items: center;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    'story values'
    'leader news';
    
}

/* about value page */

.valueTitle{
    text-align: center;
    text-decoration: underline;
}

.valueSummary{
    text-align: center;
    font-family: 'inter';
    width: 80%;
    margin: auto;

}

.valuePics {
    object-fit: cover;
    object-position: center;
    width: 100%;
    
}

.ingredients {
    grid-area: value1;
    background-color: #1b998b;
    
}

.nutrients {
    grid-area: value2;
    background-color: #1b998b;
    
}

.community {
    grid-area: value3;
    background-color: #1b998b;
    
}

.valueLink {
    text-decoration: none;
    color: white;

}

.value2Story {
    grid-area: value2Story;
    background-color: #1b998b;
    
}

.value2Leader {
    grid-area: value2Leader;
    background-color: #1b998b;
    
}

.value2News {
    grid-area: value2News;
    background-color: #1b998b;
    
}

.value2Other {
    display: grid;
    grid-area: value2Other;
    column-gap: 1.5%;
    row-gap: 2%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'value2Story value2Leader value2News';
}


.valueContainer {
    display: grid;
    width: 80%;
    margin: auto;
    font-family: 'inter';
    text-align: center;
    column-gap: 1.5%;
    row-gap: 1.5%;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'value1 value2'
        'value3 .'
        'value2Other value2Other';
}

/* about leader page */

.leaderTitle {
    text-align: center;
    text-decoration: underline;
}

.leaderPics {
    object-fit: cover;
    object-position: center;
    width: 100%;
    
}

.ceo {
    grid-area: ceo;
    background-color: #1b998b;
    
}

.cfo {
    grid-area: cfo;
    background-color: #1b998b;
    
}

.cio {
    grid-area: cio;
    background-color: #1b998b;
    
}

.sco {
    grid-area: sco;
    background-color: #1b998b;
    
}

.cmeo {
    grid-area: cmeo;
    background-color: #1b998b;
    
}

.leaderLink {
    text-decoration: none;
    color: white;

}

.leader2News{
    grid-area: leader2News;
    background-color: #1b998b;
    
}

.leader2Value{
    grid-area: leader2Value;
    background-color: #1b998b;
    
}

.leader2Story{
    grid-area: leader2Story;
    background-color: #1b998b;
    
}

.leader2Other{
    display: grid;
    grid-area: leader2Other;
    column-gap: 1.5%;
    row-gap: 1.5%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    'leader2Story leader2Value leader2News';
}


.leaderContainer {
    display: grid;
    width: 80%;
    margin: auto;
    font-family: 'inter';
    text-align: center;
    column-gap: 1.5%;
    row-gap: 1%;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'ceo cfo'
        'cio sco'
        'cmeo .'
        'leader2Other leader2Other';

}

/* about news & annoucements page */

.newsTitle {
    text-align: center;
    text-decoration: underline;
}

.newsPics {
    object-fit: cover;
    object-position: center;
    width: 100%;
    
}

.news1 {
    grid-area: news1;
    background-color: #1b998b;
    
}

.news2 {
    grid-area: news2;
    background-color: #1b998b;
    
}

.news3 {
    grid-area: news3;
    background-color: #1b998b;
    
}

.newsLink {
    text-decoration: none;
    color: white;

}

.news2Story {
    grid-area: news2Story;
    background-color: #1b998b;
    
}

.news2Leader {
    grid-area: news2Leader;
    background-color: #1b998b;
    
}

.news2Value {
    grid-area: news2Value;
    background-color: #1b998b;
    
}

.news2Other {
    display: grid;
    grid-area: news2Other;
    column-gap: 1.5%;
    row-gap: 2%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'news2Story news2Leader news2Value';
}


.newsContainer{
    display: grid;
    width: 80%;
    margin: auto;
    font-family: 'inter';
    text-align: center;
    column-gap: 1.5%;
    row-gap: 1.5%;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'news1 news2'
        'news3 .'
        'news2Other news2Other';
}

/* footer*/

@media screen and (max-width: 1025px) {
    .aboutContainer{
        column-gap: 0%;
        row-gap: 2%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        'story'
        'values'
        'leader'
        'news'
        'footer';
    }

    .leaderContainer{
        column-gap: 0%;
        row-gap: .5%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        'ceo'
        'cfo'
        'cio'
        'sco'
        'cmeo'
        'leader2Other';
    }

    .valueContainer{
        column-gap: 0%;
        row-gap: 1.5%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        'value1'
        'value2'
        'value3'
        'value2Other';
    }

    .newsContainer{
        column-gap: 0%;
        row-gap: 1.5%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        'news1'
        'news2'
        'news3'
        'news2Other';
        }
    }


@media screen and (max-width: 725px){
    .leader2Other{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    'leader2Story'
    'leader2Value'
    'leader2News'
    ; 
    }

    .value2Other{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    'value2Story'
    'value2Leader'
    'value2News'
    ; 
    }   

    .news2Other{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    'news2Story'
    'news2Value'
    'news2Leader'
    ; 
    }   


}
@font-face {
    font-family: "inter";
    src: url(Inter-Bold.ttf);
}

