body{
    margin: 0%;
    padding: 0%;
    background-color: black;
}
#nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: #363636;
    height: 5vw;
    z-index: 100;
    border-bottom: 1vmin solid #363636;
}
#nav > div > a{
    text-decoration: none;
    color: white;
    font-size: 4vmin;
    font-family: "Min";
    
}
#logo{
    height: 8vmin;
    width: 8vmin;
}
#aside{
    grid-area: aside;
    background-color: white;
}
#main{
    grid-area: main;
    background-color: white;
}
#footer {
    grid-area: footer;
    background-color: #363636;
    z-index: 200;
    color: white;
}
#container{
    display: grid;
    grid-template-columns: [c1] 2fr [c2] 1fr [c3] 1fr [c4] 1fr [c5] 1fr [c6] 1fr [c7] 1fr [c8];
    grid-template-rows: 4fr 1fr;
    grid-template-areas: 
    "aside aside main main main main main"
    "footer footer footer footer footer footer footer"
    ;
    background-color: black;
}
#slides{
    background-color: black;
    display: flex;
}
.img{
    height: calc(100vh - 5vw);
    width: 62.5%;
    object-fit: cover;
    object-position: center;
    background-color: black;
    opacity: 1;
    position: absolute;
}
#img1{
    position: relative;
    width: 100%;
}
.sButtons{
    position: absolute;
    background-color: #363636;
    border-radius: 50%;
    left: 95%;
    border: 0;
    transform: translateX(-50%);
    transform: translateY(50%);
    text-align: center;
    opacity: .85;
}
.sButtons > img{
    height: 2.3vw;
    width: 2.3vw;
    color: white;
}

#up{
    top: 40%;
}
#play{
    top: 50%;
}
#down{
    top: 60%;
}
#slideCaption{
    position: absolute;
    top: 43%;
    left: 50%;
    color: white;
    font-size: 5vmin;
    font-family: "Min";
    text-decoration: underline;
    transform: translateX(-50%);
}
#slideShow{
    position: absolute;
    height: calc(100vh - 5vw);
    width: 62.5%;
}
#special1{
    height: 50%;
    width:  100%;
    background-image: url(./images/e.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#special2{
    height: 50%;
    width:  100%;
    background-image: url(./images/ratatouille.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.redirect{
    height: 100%;
    width: 100%;
    border-radius: 0%;
    border: none;
    background-color: rgba(0, 0, 0, .3);
}
.redirect > a{
    color: white;
    font-size: 5vmin;
    font-family: "Min";
    text-decoration: none;
}
@font-face {
    font-family: "Min";
    src: url(AERO_03.ttf);
}
