body{
    margin: 0%;
    padding: 0%;
    background-color: white;
}
#img{
    height: 60vmin;
    width: 60vmin;
    margin: auto;
}
#nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: #05a8aa;
    height: 11vmin;
}
#nav > div > a{
    text-decoration: none;
    color: white;
    font-size: 3vmin;
    font-family: "Min";
}
#logo{
    font-size:11vmin;
}
#aside{
    grid-area: aside;
}
#main{
    grid-area: main;
    margin: auto;
}
#footer {
    grid-area: footer;
    background-color: #2e4057;
}
#container{
    display: grid;
    gap: 10px;
    grid-template-columns: [c1] 2fr [c2] 1fr [c3] 1fr [c4] 1fr [c5] 1fr [c6] 1fr [c7] 1fr [c8];
    grid-template-rows: 4fr 1fr;
    grid-template-areas: 
    "aside main main main main main main"
    "footer footer footer footer footer footer footer"
    ;
}
#gallery{
    display: grid;
    grid-template-columns: 20vmin 20vmin 20vmin 20vmin;
    grid-template-rows: 16vmin 16vmin 16vmin 16vmin 16vmin;
    grid-template-areas:
    "pic pic pic aUp"
    "pic pic pic top1"
    "pic pic pic top2"
    "pic pic pic top3"
    "pic pic pic aDown"
    ;
}

#gallery > div{
    margin: auto;
}
#pic{
    grid-area: pic;
}
#top1 {
    grid-area: top1;
}
#top2 {
    grid-area: top2;
}
#top3 {
    grid-area: top3;
}
#arrowUp {
    grid-area: aUp;
}
#arrowDown {
    grid-area: aDown;
}
.previews{
    width: 6vmin;
    height: 6vmin;
}
#preview2 {
    
}
@font-face {
    font-family: "Min";
    src: url(AERO_03.ttf);
}
