#containerIndex{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav2"
    "row0"
    "main"
    "footer";
}
#rowContainer{
    display: grid;
    text-align: center;
    grid-area: main;
    margin: 2% 10% 10%;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr ;
    gap: 5%;
    grid-template-areas: 
    "row1"
    "row2"
 ;
}

#imageCover{
height: 90vh;
background-color: #1B998B;
grid-area:row0;
background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%), url(mainpagechicken.png);
background-size: cover;
background-position: center;
}

.caption1{
    font-size: 4vmin;
    margin-top: 0%;
    margin-bottom: 0%;
}

.btnCard,
.btnCard:visited {
    text-decoration: none;
    color: white;
    background-color: #f4562a;
    border: 3px solid #f4562a;
    border-radius: 2% 2% 2% 2% / 9% 9% 9% 9%;    
    padding: 1% 3% 1% 3%;
    font-size: 4vmin;
    position: relative;
    top: 5%;
    font-family: "inter";
}

.btnCard:hover {
    transition: .5seconds;
    background-color: #f4562a;
    color: white;
    transition: .5s;
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
    border: 1px solid #f4562a ;
}
.textCard{
    padding-top: 15%;
    color:white;
    font-family: "inter";
    font-size: 10vmin;
    font-weight: bold;
    margin-left: 2%;
}
.row1{
    grid-area: row1;
    display: grid;
    grid-template-columns: 3fr 1.45fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "image1 content1";
    border-bottom: .3vw solid rgba(0, 0, 0, .5);
    border-radius:2% 2% 2% 2% / 9% 9% 9% 9% ;
    /* height: 35vh; */
        height: 50vh;
}

.img1{
    grid-area: image1;
    background-color: #1B998B;
    border-radius:2% 0% 0% 2% / 9% 0% 0% 9% ;
background-image: url(chickentenders.png);
    background-size: cover;
    background-position:center;
}


#image1{
    width: 70%;
  object-fit: cover;
object-position: center;
}

.content1{
    grid-area: content1;
    background-color: white;
    border-radius:0% 7% 7% 0% / 0% 8% 8% 0%;
    font-family: "inter";
}

h2{
    font-family: "inter";
    font-size: 8vmin;
    margin:3vh 0;
}

#rowtextSize{
    font-size: 3vmin;
    margin-bottom:0;
}
.row2{
    grid-area: row2;
    display: grid;
    grid-template-columns: 1.45fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "content2 image2";
    border-bottom: .3vw solid rgba(0, 0, 0, .5);
    border-radius:2% 2% 2% 2% / 9% 9% 9% 9% ;
    height: 50vh;
}

.img2{
    grid-area: image2;
    background-color: #1B998B;
    border-radius:0% 2% 2% 0% / 0% 9% 9% 0% ;
    background-image: url(hiring.jpg);
    background-size: cover;
    background-position: top;
    object-fit: fill;
}


.content2{
    grid-area: content2;
    background-color: white;
    border-radius:7% 0% 0% 7% / 8% 0% 0% 8%;
    font-family: "inter";
}

/* .row3{
    grid-area: row3;
    display: grid;
    grid-template-columns: 3fr 1.45fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "image3 content3";
    border-bottom: .3vw solid rgba(0, 0, 0, .5);
    border-radius:2% 2% 2% 2% / 9% 9% 9% 9% ;
}

.img3{
    grid-area: image3;
    background-color: #1B998B;
    border-radius:2% 0% 0% 2% / 9% 0% 0% 9% ;
}


.content3{
    grid-area: content3;
    background-color: white;
    border-radius:0% 7% 7% 0% / 0% 8% 8% 0% ;

} */

.btn, .btn:visited{
    text-decoration: none;
    color: #1B998B;
    border: 3px solid #1B998B;
    border-radius: 999vw;
    padding: 2% 8% 2% 8%;
    font-size: 4vmin;
    position: relative;
    top: 5%;
}

.btn:hover{
 transition: .5seconds;
 background-color: #1B998B;
 color: white;
}

html{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: #eaeaea;
    margin: 0%;
}
nav{
    font-family: "inter";
    z-index: 1000;
    display: flex;
    background-color: white;
    width: 100vw;
    height: 12vh;
    position: fixed;
    left: 0;
    top: 0;
    border-bottom: .3vw solid rgba(0, 0, 0, .2);
    align-items: center;
    font-size: 1.5vw;
    font-family: inter; 

}
nav > a{
    color: black;
    padding-left: 5vw;
    text-decoration: none;
    transition: .3s;
}
nav > a:hover{
    color: #1B998B;
    text-decoration: underline .2vw;
}
#logo{
    padding-left: 2vw;
    width: 3.5vw;
    height: 3.5vw;
}
#cart{
    color: #1B998B;
    font-size: 1vw;
    position: relative;
    left: 48%;
    transform: translateX(-50%);
    padding: .5vw 1vw;
    border: #1B998B solid .5vw;
    border-radius: 15% / 45%;
    transition: .5s;
}
#cart:hover{
    color: white;
    background-color: #1B998B; 
    text-decoration: none;
}
#menu{
    text-decoration: underline .2vw;
    color:#1B998B;
}

@font-face {
    font-family: "inter";
    src: url(Inter-Bold.ttf);
}

#heading{
    grid-area: heading;
}

#nav2{
    height: 12vh;
    border-bottom: .3vw solid rgba(0, 0, 0, 0);
    margin: 0;
    grid-area: nav2;
}







@media (max-width:750px) {
    .textCard{
        position: absolute;
        padding-top: 0;
        bottom:0%;
        color:white;
        font-size: 10vmin;
    }

    .row1{
        grid-area: row1;
        display: grid;
        grid-template-columns: 3fr 1.45fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "image1 content1";
        border-bottom: .3vw solid rgba(0, 0, 0, .5);
        border-radius:2% 2% 2% 2% / 9% 9% 9% 9% ;
        /* height: 35vh; */
            height: 50vh;
    }
    #image1{
        width: 70%;
      object-fit: cover;
    object-position: center;
    }
    
    .content1{
        grid-area: content1;
        background-color: white;
        border-radius:0% 7% 7% 0% / 0% 8% 8% 0%;
        font-family: "inter";
    }
    
    h2{
        font-family: "inter";
        font-size: 8vmin;
        margin:3vh 0;
    }
    
    #rowtextSize{
        font-size: 3vmin;
        margin-bottom:0;
    }
    .row2{
        grid-area: row2;
        display: grid;
        grid-template-columns: 1.45fr 3fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "content2 image2";
        border-bottom: .3vw solid rgba(0, 0, 0, .5);
        border-radius:2% 2% 2% 2% / 9% 9% 9% 9% ;
        height: 50vh;
    }
    
    .img2{
        grid-area: image2;
        background-color: #1B998B;
        border-radius:0% 2% 2% 0% / 0% 9% 9% 0% ;
        background-image: url(hiring.jpg);
        background-size: cover;
        background-position: top;
        object-fit: fill;
    }
    
    .content2{
        grid-area: content2;
        background-color: white;
        border-radius:7% 0% 0% 7% / 8% 0% 0% 8%;
        font-family: "inter";
    }

    #rowContainer{
        display: grid;
        text-align: center;
        grid-area: main;
        margin: 2% 10% 10%;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr ;
        gap: 5%;
        grid-template-areas: 
        "row1"
        "row2"
     ;
    }
    
}