:root{
    --bg-color: #30324b;
    --main-color: white;
    --accent-color:#EC0B43;
}
html{
    padding: 0;
    margin: 0;
    background-color: transparent;
    overflow-x: hidden;
}
body{
    background-color: var(--bg-color);
    padding: 0;
    margin: 0;
}
nav{
    position: sticky;
    top: 0%;
    width: 100%;
    height: 10vh;
}
@font-face {
    font-family: font;
    src: url("laxero.ttf");
}