#containerIndex{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav2"
    "row0"
    "main"
    "footer";
}

#colContainer{
    color: white;
    display: grid;
    text-align: center;
    grid-area: main;
    margin: 6% 8% 8%;
    margin-bottom: 4%;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 3vmin;
    grid-template-rows: auto;
    gap: 5%;
    font-family: 'inter';
    grid-template-areas: 
    "column1 column2 column3"
 ;
}

.col1{
grid-area: column1;
background-color: #1B998B;
border-radius:7% 7% 7% 7% / 8% 8% 8% 8%;
display: grid;
grid-template-columns: auto;
grid-template-rows: 1fr 1.25fr;
grid-template-areas:
"icon1"
"txt1";
}

.col2{
grid-area: column2;
background-color: #1B998B;
border-radius:7% 7% 7% 7% / 8% 8% 8% 8%;
display: grid;
grid-template-columns: auto;
grid-template-rows: 1fr 1.25fr;
grid-template-areas:
"icon2"
"txt2";
}

.col3{
grid-area: column3;   
background-color: #1B998B;
border-radius:7% 7% 7% 7% / 8% 8% 8% 8%;
display: grid;
grid-template-columns: auto;
grid-template-rows: 1fr 1.25fr;
grid-template-areas:
"icon3"
"txt3";
}

.txt1{grid-area: txt1;
background-color: white;
color: #f4562a;
border-radius:0% 0% 7% 7% / 0% 0% 8% 8%;
}
.txt2{
grid-area: txt2;
background-color: white;
color: #f4562a;
border-radius:0% 0% 7% 7% / 0% 0% 8% 8%;
}
.txt3{grid-area: txt3;
    background-color: white;
    color: #f4562a;
    border-radius:0% 0% 7% 7% / 0% 0% 8% 8%;
}


i{
    margin:5%
}
 #imageCover{
height: 90vh;
background-color: #1B998B;
grid-area:row0;
background: linear-gradient(to left, rgba(0, 0, 0, .65) 0%, rgba(0, 0, 0, 0) 40%), linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%), url(mainpagechicken.png);
background-size: cover;
background-position: center;
border-bottom: .6vmin solid #eaeaea;
} 

.textPadding{
    padding-left: 5%;
    padding-right: 5%;
}
.caption1{
    font-size: 4vmin;
    margin-top: 0%;
    margin-bottom: 0%;
} 

.btnCard,
.btnCard:visited {
    text-decoration: none;
    color: white;
    background-color: #f4562a;
    border: 3px solid #f4562a;
    border-radius: 2% 2% 2% 2% / 9% 9% 9% 9%;    
    padding: 1% 3% 1% 3%;
    font-size: 4vmin;
    position: relative;
    top: 5%;
    font-family: "inter";
}

.btnCard:hover {
    transition: .5seconds;
    background-color: #f4562a;
    color: white;
    transition: .5s;
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
    border: 1px solid #f4562a ;
}
.textCard{
    padding-top: 15%;
    color:white;
    font-family: "inter";
    font-size: 10vmin;
    font-weight: bold;
    margin-left: 2%;
}







/* #menu{
    text-decoration: underline .2vw;
    color:#1B998B;
} */



@media (max-width:900px) {

    .txt1{
        font-size: 2.5vmin;
        }
        .txt2{
            font-size: 2.5vmin
        }
        .txt3{
            font-size: 2.5vmin
        }
}





@media (max-width:750px) {
    .textCard{
        position: absolute;
        padding-top: 0;
        bottom:0%;
        color:white;
        font-size: 10vmin;
    }

    .col1, .col2, .col3{
        height: 50vh;
    }
    .txt1{
        font-size: 2vmin;
        }
        .txt2{
            font-size: 2vmin
        }
        .txt3{
            font-size: 2vmin
        }
}

@media (max-width:500px) {
    .textCard{
        position: absolute;
        padding-top: 0;
        bottom:0%;
        color:white;
        font-size: 10vmin;
    }

    .col1, .col2, .col3{
        height: 50vh;
    }
    #colContainer{
        color: white;
        display: grid;
        text-align: center;
        grid-area: main;
        margin: 6% 8% 8%;
        margin-bottom: 4%;
        grid-template-columns: 1fr;
        font-size: 3vmin;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10%;
        font-family: 'inter';
        grid-template-areas: 
        "column1"
        "column2"
        "column3"
     ;
    }
    .txt1{
        font-size:4vmin;
        }
        .txt2{
            font-size: 4vmin
        }
        .txt3{
            font-size: 4vmin
        }
}

@media (max-width:300px) {
    .txt1{
        font-size:5vmin;
        }
        .txt2{
            font-size: 5vmin
        }
        .txt3{
            font-size: 5vmin
        }
        .textCard{
            position: absolute;
            padding-top: 0;
            bottom:0%;
            color:white;
            font-size: 12vmin;
        }
        .caption1{
            font-size: 6vmin;
        }
        .btnCard,
.btnCard:visited {
    text-decoration: none;
    color: white;
    background-color: #f4562a;
    border: 3px solid #f4562a;
    border-radius: 2% 2% 2% 2% / 9% 9% 9% 9%;    
    padding: 1% 3% 1% 3%;
    font-size: 4vmin;
    position: relative;
    top: 5%;
    font-family: "inter";
}
#colContainer{
    color: white;
    display: grid;
    text-align: center;
    grid-area: main;
    margin: 6% 8% 8%;
    margin-bottom: 4%;
    grid-template-columns: 1fr;
    font-size: 3vmin;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5%;
    font-family: 'inter';
    grid-template-areas: 
    "column1"
    "column2"
    "column3"
 ;
}

.icon1, .icon2, .icon3{
font-size: 8em;
}
}


/* About Main Page */
.aboutTitle{
    text-align: center;
    font-family: inter;
}

.story{
    grid-area: story;
    justify-self: right;
    background-color: #1b998b;
    color: white;
    
}

.values{
    grid-area: values;
    justify-self: left;
    background-color: #1b998b;
    color: white;
    
}

.leader{
    grid-area: leader;
    justify-self: right;
    background-color: #1b998b;
    color: white;
    
}

.news {
    grid-area: news;
    justify-self: left;
    background-color: #1b998b;
    color: white;
    
}

.aboutPics{
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}

.aboutLink {
    text-decoration: none;
    color: white;
    font-family: inter;
}

.aboutContainer{
    font-family: 'inter';
    display: grid;
    height: 100vh;
    text-align: center;
    column-gap: 1.5%;
    row-gap: 2%;
    margin: auto;
    justify-items: center;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    'story values'
    'leader news';
    
}

/* about value page */

.valueTitle{
    text-align: center;
    text-decoration: underline;
}

.valueSummary{
    text-align: center;
    font-family: 'inter';
    width: 80%;
    margin: auto;

}

.valuePics {
    object-fit: cover;
    object-position: center;
    width: 100%;
    
}

.ingredients {
    grid-area: value1;
    background-color: #1b998b;
    
}

.nutrients {
    grid-area: value2;
    background-color: #1b998b;
    
}

.community {
    grid-area: value3;
    background-color: #1b998b;
    
}

.valueLink {
    text-decoration: none;
    color: white;
}

.value2Story {
    grid-area: value2Story;
    background-color: #1b998b;
    
}

.value2Leader {
    grid-area: value2Leader;
    background-color: #1b998b;
    
}

.value2News {
    grid-area: value2News;
    background-color: #1b998b;
    
}

.value2Other {
    display: grid;
    grid-area: value2Other;
    column-gap: 1.5%;
    row-gap: 2%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'value2Story value2Leader value2News';
}


.valueContainer {
    display: grid;
    width: 80%;
    color: white;
    margin: auto;
    font-family: 'inter';
    text-align: center;
    column-gap: 1.5%;
    row-gap: 1.5%;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'value1 value2'
        'value3 .'
        'value2Other value2Other';
}

/* about leader page */

.leaderTitle {
    text-align: center;
    text-decoration: underline;
}

.leaderPics {
    object-fit: cover;
    object-position: center;
    width: 100%;
    
}

.ceo {
    grid-area: ceo;
    background-color: #1b998b;
    
}

.cfo {
    grid-area: cfo;
    background-color: #1b998b;
    
}

.cio {
    grid-area: cio;
    background-color: #1b998b;
    
}

.sco {
    grid-area: sco;
    background-color: #1b998b;
    
}

.cmeo {
    grid-area: cmeo;
    background-color: #1b998b;
    
}

.leaderLink {
    text-decoration: none;
    color: white;

}

.leader2News{
    grid-area: leader2News;
    background-color: #1b998b;
    
}

.leader2Value{
    grid-area: leader2Value;
    background-color: #1b998b;
    
}

.leader2Story{
    grid-area: leader2Story;
    background-color: #1b998b;
    
}

.leader2Other{
    display: grid;
    grid-area: leader2Other;
    column-gap: 1.5%;
    row-gap: 1.5%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    'leader2Story leader2Value leader2News';
}


.leaderContainer {
    display: grid;
    width: 80%;
    margin: auto;
    font-family: 'inter';
    text-align: center;
    column-gap: 1.5%;
    row-gap: 1%;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'ceo cfo'
        'cio sco'
        'cmeo .'
        'leader2Other leader2Other';

}

/* about news & annoucements page */

.newsTitle {
    text-align: center;
    text-decoration: underline;
}

.newsPics {
    object-fit: cover;
    object-position: center;
    width: 100%;
    
}

.news1 {
    grid-area: news1;
    background-color: #1b998b;
    
}

.news2 {
    grid-area: news2;
    background-color: #1b998b;
    
}

.news3 {
    grid-area: news3;
    background-color: #1b998b;
    
}

.newsLink {
    text-decoration: none;
    color: white;

}

.news2Story {
    grid-area: news2Story;
    background-color: #1b998b;
    
}

.news2Leader {
    grid-area: news2Leader;
    background-color: #1b998b;
    
}

.news2Value {
    grid-area: news2Value;
    background-color: #1b998b;
    
}

.news2Other {
    display: grid;
    grid-area: news2Other;
    column-gap: 1.5%;
    row-gap: 2%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'news2Story news2Leader news2Value';
}


.newsContainer{
    display: grid;
    width: 80%;
    margin: auto;
    font-family: 'inter';
    text-align: center;
    column-gap: 1.5%;
    row-gap: 1.5%;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'news1 news2'
        'news3 .'
        'news2Other news2Other';
}

/* story about page */

.storyTitle{
    text-align: center;
}

.storyYear{
    font-size: 36px;
    text-align: center;
}

.storyList{
    text-align: center;
    grid-area: storyList;
    background-color: white;
}

.storyDesc{
    font-size: 24px;
}
.story2Value{
    grid-area: story2Value;
    background-color: #1b998b;
}

.story2Leader {
    grid-area: story2Leader;
    background-color: #1b998b;
}

.story2News {
    grid-area: story2News;
    background-color: #1b998b;
}
.story2Other {
    display: grid;
    text-align: center;
    grid-area: story2Other;
    column-gap: 1.5%;
    row-gap: 2%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'story2Value story2News story2Leader';
}

.storyContainer{
    display: grid;
    width: 80%;
    margin: auto;
    column-gap: 1.5%;
    row-gap: 2%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    'storyList storyList storyList'
    'story2Other story2Other story2Other';
}

progress {
    -webkit-appearance: none;
    appearance: none;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(calc(-50% + 3px), calc(50vh - 50%)) rotate(90deg);
    width: 100vh;
    height: 30px;
    background-color: #1b998b;
    z-index: -1;
}


progress::-webkit-progress-bar {
    background-color: #f5f5f5;
}

progress[value="100"]::-webkit-progress-bar {
    background-color: #1b998b;
    z-index: -1;
}

progress::-webkit-progress-value {
    background-color: #1b998b;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    z-index: -1;
}

/* footer */
.footerConnect{
    grid-area: footerConnect;
}

.footerIcons{
    grid-area: footerIcons;
    font-size: xx-large;
    color: #1b998b;
}

.footerName{
    grid-area: footerName;
    font-size: xx-large;
}

.footerExplore{
    grid-area: footerExplore;
}

.footerResources{
    grid-area: footerResources;
}

.footerContact{
    grid-area: footerContact;
}

.footerSummary{
    grid-area: footerSummary;
}

.footerHome{
    grid-area: footerHome;
}

.footerOffers{
    grid-area: footerOffers;
}

.footerMenu{
    grid-area: footerMenu;
}

.footerAbout{
    grid-area: footerAbout;
}

.footerCart{
    grid-area: footerCart;
}

.footerSettings{
    grid-area: footerSettings;
}

.footerPolicy{
    grid-area: footerPolicy;
}

.footerCopy{
    grid-area: footerCopy;
    background-color: rgb(82, 80, 80);
}

.footerCredits{
    grid-area: footerCredits;
}

.footerPhone{
    grid-area: footerPhone;
}

.footerEmail{
    grid-area: footerEmail;
}

.footerLocation{
    grid-area: footerLocation;
}

.footerPrinter{
    grid-area: footerPrinter;
}

.footer{
    display: grid;
    text-align: center;
    align-items: center;
    background-color: gray;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    'footerConnect . . footerIcons'
    'footerName footerExplore footerResources footerContact'
    'footerSummary footerHome footerCart footerLocation'
    'footerSummary footerOffers footerSettings footerEmail'
    'footerSummary footerMenu footerPolicy footerPhone'
    'footerSummary footerAbout footerCredits footerPrinter'
    'footerCopy footerCopy footerCopy footerCopy';
}
@media screen and (max-width: 1025px) {
    .aboutContainer{
        column-gap: 0%;
        row-gap: 2%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        'story'
        'values'
        'leader'
        'news'
        'footer';
    }

    .leaderContainer{
        column-gap: 0%;
        row-gap: .5%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        'ceo'
        'cfo'
        'cio'
        'sco'
        'cmeo'
        'leader2Other';
    }

    .valueContainer{
        column-gap: 0%;
        row-gap: 1.5%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        'value1'
        'value2'
        'value3'
        'value2Other';
    }

    .newsContainer{
        column-gap: 0%;
        row-gap: 1.5%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        'news1'
        'news2'
        'news3'
        'news2Other';
        }
    }



.storyContainer{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'storyList'
        'story2Other';
} 


@media screen and (max-width: 725px){
    .leader2Other{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    'leader2Story'
    'leader2Value'
    'leader2News'
    ; 
    }

    .value2Other{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    'value2Story'
    'value2Leader'
    'value2News'
    ; 
    }   

    .news2Other{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    'news2Story'
    'news2Value'
    'news2Leader'
    ; 
    }

    .story2Other {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    'story2Value'
    'story2News'
    'story2Leader';
} 
}



@font-face {
    font-family: "inter";
    src: url(Sugar_Snow.ttf);
}


html{
    padding: 0%;
    margin: 0%;
    font-size: 100%;
}
body{
    background-color: #E1E8DC;
    margin: 0%;
    background-image: url(doodle.png);
    background-position: center;
    background-size: 40rem;
}
nav{
    display: flex;
    background-color: white;
    width: 100vw;
    height: 12vh;
    position: fixed;
    left: 0;
    top: 0;
    border-bottom: .3rem solid rgba(0, 0, 0, .2);
    align-items: center;
    font-size: 1.5rem;
    font-family: "inter"; 
    z-index: 1000;
}
#navBurger{
    display: none;
}
#navPop{
    color: #2e4057;
    font-size: 1.5rem;
    position: absolute;
    right: 3%;
    padding: .5vw 1vw;
    transition: .5s;
    height: 0px;
    display: none;
}
#nav2{
    height: 12vh;
    border-bottom: .3vw solid rgba(0, 0, 0, 0);
    margin: 0;
}
nav > a{
    color: #2e4057;
    position: relative;
    text-decoration: none;
    transition: .3s;
}
nav > a:hover{
    color: #F4562A;
}
#logo{
    padding-left: 2vw;
    width: 5rem;
    height: 5rem;
}
#menu{
    left: 5%;
}
#offers{
    left: 10%;
}
#about{
    left: 15%;
}
#contact{
    left: 20%;
}

#cart{
    color: #F4562A;
    font-size: 1.5rem;
    position: absolute;
    right: 3%;
    padding: .5vw 1vw;
    border: #1B998B solid .5rem;
    border-radius: 15% / 45%;
    transition: .5s;
}
#mainMenu{
    color: #F4562A;
    font-size: 1.5rem;
    padding: .5vw 1vw;
    border: #1B998B solid .5rem;
    border-radius: 15% / 45%;
    transition: .5s;
    font-family: "inter";
    margin-top: 2vw;
}
#mainMenu:hover{
    color: white;
    background-color: #1B998B; 
    text-decoration: none;
}
#cart:hover{
    color: white;
    background-color: #1B998B; 
    text-decoration: none;
}
#menu{
    text-decoration: underline .2rem;
    color:#F4562A;
}
.mT{
    height: 75%;
    width: 100%;
    background-color: #1B998B;
    border-radius: 10% 10% 0% 0% / 13.34% 13.34% 0% 0%  ;
    transition: .3s;
}
.mT > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    text-decoration: none;

}
.mB{
    height: 25%;
    width: 100%;
    background-color: white;
    border-radius: 0% 0% 10% 10% / 0% 0% 40% 40% ;
    text-align: center;
    border-bottom: .5rem solid rgba(0, 0, 0, .2);
    transition: .3s;
    line-height: 5rem;
}
.mT2{
    height: 75%;
    width: 100%;
    background-color: white;
    border-radius: 10% 10% 0% 0% / 13.34% 13.34% 0% 0%  ;
    transition: .3s;
}
.mT2 > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    text-decoration: none;

}
.mB2{
    display: flex;
    flex-direction: column;
    height: 25%;
    width: 100%;
    background-color: white;
    border-radius: 0% 0% 10% 10% / 0% 0% 40% 40% ;
    text-align: center;
    border-bottom: .5rem solid rgba(0, 0, 0, .2);
    transition: .3s;
    line-height: 3rem;
    text-align: center;
}
#addCart{
    font-family: "inter";
    color: #F4562A;
    font-size: 1.4rem;
    border: #F4562A solid .5rem;
    border-radius: 15% / 45%;
    transition: .3s;
    width: 10rem;
    position: relative;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
}
#addCart:hover{
    background-color: #F4562A;
    color: white;
}
.cardLink2{
    display: block;
    text-decoration: none;
    color: #F4562A;
    font-family: "inter"; 
    font-size: 2rem;
    height: 100%;
    width: 100%;
}
.cardLink{
    display: block;
    text-decoration: none;
    color: #F4562A;
    font-family: "inter"; 
    font-size: 2.7rem;
    height: 100%;
    width: 100%;
}
.cardLink:hover{
    transform: rotate(4deg);
}

.cardLink:hover .mT{
    border: #F4562A solid;
    border-width: .75rem .75rem 0rem .75rem;

}
.cardLink:hover .mB{
    border: #F4562A solid;
    border-width: 0rem .75rem .75rem .75rem;

}
#menuCards{
    margin: auto;
    margin-top: 3.5rem;
    margin-bottom: 5rem;
    gap: 1rem;
    justify-content: center;
    display: grid;
    height: 666.666667px;
    max-width: 1000px;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "card1 card2 card3"
    "card4 card5 card6";
}
#menuCards > div{
    height: calc(100% - .5rem);
    width: calc(100% - 1rem);
    margin: auto;
}
#card1{
    grid-area: card1;
}
#card2{
    grid-area: card2;
}
#card3{
    grid-area: card3;
}
#card4{
    grid-area: card4;
}
#card5{
    grid-area: card5;
}
#card6{
    grid-area: card6;
}
@media only screen and (max-width: 1200px){
    nav{
        height: 8vh;
    }

    #nav2{
        height: 8vh;
    }
    html{
        font-size: 85%;
    }
    #menuCards{
        height: 1000px;
        max-width: 666.666667px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33.3% 33.3% 33.3%;
        grid-template-areas: 
        "card1 card2 "
        "card3 card4"
        "card5 card6";
    }
    .mB{
        line-height: 6rem;
    }
}
@media only screen and (max-width: 800px){
    nav{
        height: 8vh;
    }
    #nav2{
        height: 8vh;
    }
    html{
        font-size: 75%;
    }
    #menuCards{
        height: 750px;
        max-width: calc(666.666667px * 3 / 4);
        grid-template-columns: 50% 50%;
        grid-template-rows: 33.3% 33.3% 33.3%;
        grid-template-areas: 
        "card1 card2 "
        "card3 card4"
        "card5 card6";
    }
    .mB{
        line-height: 5rem;
    }
    .mB2{
        line-height: 2rem;
    }
    #addCart{
        font-size: 1.2rem;
        top: 0%;
    }
}
@media only screen and (max-width: 600px){
    nav > a{
        display: none;
    }
    #feather{
        display: block;
    }
    #navBurger{
        display: block;
        position: absolute;
        right: 7%;
        font-size: 2rem;
        color: #F4562A;
        background-color: transparent;
        border: none;
        font-size: 3rem;
    }
    #navPop{
        text-align: center;
        height: 100vh;
        width: 30%;
        position: fixed;
        right: 0%;
        z-index: 1001;
        display: none;
        flex-direction: column;
        color: #2e4057;
        font-size: 1.5rem;
        transition: .5s;
        padding: 0%;
        background-color: white;
        justify-content: space-evenly;
    }
    #navPop > a{
        font-family: "inter";
        color: #2e4057;
        text-decoration: none;
        font-size: 1.8rem;
        
    }
    #navPop > a:hover{
        color: #F4562A;
    }
    #X{
        background-color: transparent;
        border: none;
        font-size: 3rem;
    }
    html{
        font-size: 70%;
    }
    #menuCards{
        margin-bottom: 9rem;
        height: 1500px;
        max-width: 249.75px;
        grid-template-columns: 100%;
        grid-template-rows: 16.67% 16.67% 16.67% 16.67% 16.67% 16.67%;
        grid-template-areas: 
        "card1"
        "card2"
        "card3"
        "card4"
        "card5"
        "card6";
    }
    .mB{
        line-height: 5.5rem;
    }
    .mB2{
        line-height: 2.3rem;
    }
    #addCart{
        font-size: 1.2rem;
        top: 0%;
    }
    #menuCards > div{
        height: calc(100% - 1rem);
        width: calc(100%);
        margin: auto;
    }
}

@font-face {
    font-family: "inter";
    src: url(Sugar\ Snow.ttf);
}
footer{
    border-top: .3vw solid rgba(255, 255, 255, 0.2);
    height: 30vh;
    background-color: #2e4057;
}
#locationText{
    color: #F4562A;
    font-size: 2rem;
    background-color: #1B998B;
    border: 0;
    border-bottom: .2rem solid rgba(0,0, 0, .2);
    border-radius: 5%/25%;
    padding: 1rem;
    font-family: "inter";
}
#location {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    width: 50vw;
    font-size: 2rem;
    
    color: #F4562A;
}
#location >:hover{
    border: .5rem solid #F4562A;
    margin-top: -.5rem;
    margin-bottom:  -0.3125rem;
}
#cartHold{
    font-family: "inter";
    border-top: .3rem solid #F4562A;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75vh;
    grid-template-areas: 
    "cart checkout";
}
#checkout{
    text-align: center;
    grid-area: checkout;
}
#cartItems{
    text-align: center;
    overflow-y: scroll;
    color: #F4562A;
    grid-area: cart;
}
#cartSpace > div{
    color: white;
    margin: auto;
    border-radius: 5% / 40%;
    width: 80%;
    height: 10vh;
    background-color: #1B998B;
    margin-bottom: 2rem;
    line-height: 10vh;
}
.clear{
    margin-top: 2vw;
    color: #F4562A;
    font-size: 1.5rem;
    padding: .5vw 1vw;
    border: #1B998B solid .5rem;
    border-radius: 15% / 45%;
    transition: .5s;
    background-color: transparent;
    font-family: "inter";
}
.clear:hover{
    color: white;
    background-color: #1B998B; 
    text-decoration: none;
}
#inputs{
    color: #F4562A;
    display: flex;
    flex-direction: column;
}
#inputs > input{
    width: 80%;
    margin: auto;
    padding: .6rem;
    border: #2e4057 solid .4rem;
    margin-bottom: 2rem;
}