html{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: #E1E8DC;
    margin: 0%;
}
nav{
    display: flex;
    background-color: white;
    width: 100vw;
    height: 12vh;
    position: fixed;
    left: 0;
    top: 0;
    border-bottom: .3vw solid rgba(0, 0, 0, .2);
    align-items: center;
    font-size: 1.5vw;
    font-family: "inter"; 
    z-index: 1000;
}
#nav2{
    height: 12vh;
    border-bottom: .3vw solid rgba(0, 0, 0, 0);
    margin: 0;
}
nav > a{
    color: #585B56;
    position: relative;
    text-decoration: none;
    transition: .3s;
}
nav > a:hover{
    color: #F4562A;
}
#logo{
    padding-left: 2vw;
    width: 3.5vw;
    height: 3.5vw;
}
#menu{
    left: 5%;
}
#offers{
    left: 10%;
}
#about{
    left: 15%;
}
#contact{
    left: 20%;
}
#cart{
    color: #F4562A;
    font-size: 1vw;
    position: relative;
    left: 68%;
    transform: translateX(-50%);
    padding: .5vw 1vw;
    border: #1B998B solid .5vw;
    border-radius: 15% / 45%;
    transition: .5s;
}
#cart:hover{
    color: white;
    background-color: #1B998B; 
    text-decoration: none;
}
#menu{
    text-decoration: underline .2vw;
    color:#1B998B;
}
.mT{
    height: calc(20vw * 3 / 4);
    width: 20vw;
    background-color: #1B998B;
    border-radius: 10% 10% 0% 0% / 13.34% 13.34% 0% 0%  ;
}
.mT > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.mB{
    height: calc(20vw/4);
    width: 20vw;
    background-color: white;
    border-radius: 0% 0% 10% 10% / 0% 0% 40% 40% ;
    text-align: center;
    line-height: calc(20vw/4);
    border-bottom: .3vw solid rgba(0, 0, 0, .2);
}
.cardLink{
    text-decoration: none;
    color: #F4562A;
    font-family: "inter"; 
    font-size: 1.8vw;
}
.cardLink:hover{
    position: relative;
    bottom: 5%;
}
.cardLink:hover .mB{
    border-bottom: .6vw solid rgba(0, 0, 0, .2);
}
#menuCards{
    margin-top: 2vw;
    margin-bottom: 2vw;
    justify-content: center;
    display: grid;
    gap: 2vw 2vw;
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    grid-template-areas: 
    "card1 card2 card3"
    "card4 card5 card6";
}
#card1{
    grid-area: card1;
}
#card2{
    grid-area: card2;
}
#card3{
    grid-area: card3;
}
#card4{
    grid-area: card4;
}
#card5{
    grid-area: card5;
}
#card6{
    grid-area: card6;
}
@font-face {
    font-family: "inter";
    src: url(Inter-Bold.ttf);
}
footer{
    height: 30vh;
    background-color: #585B56;
}

