body {
    margin: 0%;
    padding: 0%;
}

.nav {z-index: 100;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: aqua;
    /* border-bottom: solid black 2px; */
}

div.group {
    margin: 10px;
    padding: 1px;
}


label {
    display: block;
    padding-bottom: 10px;
    font-size: 1.25em;
}

input {
    border-radius: 2px;
    border: 2px solid black;
    box-sizing: border-box;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    margin: 1px
}

.nav>div>a {
    text-decoration: none;
    color: black;
    font-size: 5vh;
}

.logo {
    font-size: 15vh;
}

.aside {
    grid-area: aside;
}

.main {
    grid-area: main;
        border: 2px solid #262626;
        height: 100vh;
        width: 100%;
        display: grid;
        gap: 5px;
        grid-template-columns: auto;
        grid-template-rows: 3fr;
        grid-template-areas:
           "lefttext inputform"
}

.footer {
    grid-area: footer;
}

.about {}

.menu {
}

.reservation {}

.gallery {}

.contact {}

.container {
    height: 200vh;
    display: grid;
    gap: 5px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "main main main main main main "
        "footer footer footer footer footer footer "
    ;
}

@font-face {
    font-family: "Fancy";
    src: url(Maytra.ttf);
}

.title {
    padding: 3px;
    margin: 3px;
    text-align: center;
    font-family: "Fancy";
    src: url(Maytra.ttf);
    font-size: 4rem;
}

.inputform {
    text-align: center;
    position: relative;
    top:2vh;
    right:6vh;
    display: inline;
    grid-area: inputform;
    width: 100%;
    display: grid;
    height: 50vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "b1 b2"
        "b3 b4"
        "b5 b6"
        "b7 b8"
        "b9 b9"
    ;
}

.lefttext{
    position:relative;
    left: 6vh;
    width:80%;
    display: inline;
    grid-area: lefttext;
    font-size:5vh;
}

.firstname {
    grid-area: b1;
    
}

.lastname {
    grid-area: b2;
    
}

.email {
    grid-area: b3;
    
}

.pnumber {
    grid-area: b4;
    
}

.groupsize {
    grid-area: b5;
    
}

.specialrequest {
    grid-area: b6;
}

.reservedate {
    grid-area: b7;
    position: relative;
        bottom: 2vh;
}
.reservetime{
    grid-area: b8;
    position: relative;
        bottom: 2vh;
}

.submitbutton {
    grid-area: b9;
    }


.actualSubmit{
    padding: 1vh;
    width: 10vh;
}

/* .specialInputs{
   position:relative;
   bottom: .5vh;
} */