body {
    margin: 0%;
    padding: 0%;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: aqua;
    border-bottom: solid black 2px;
}

.nav>div>a {
    text-decoration: none;
    color: black;
    font-size: 5vh;
}

.logo {
    font-size: 15vh;
}

.aside {
    grid-area: aside;
}

.main {
    grid-area: main;

}

.footer {
    grid-area: footer;

}

.about {}

.menu {}

.reservation {}

.gallery {}

.contact {}

.container {
    height: 200vh;
    display: grid;
    gap: 5px;
    grid-template-columns: [c1] 1fr [c2] 1fr [c3] 1fr [c4] 1fr [c5] 1fr [c6] 1fr [c7] 1fr [c8];
    grid-template-rows: auto;
    grid-template-areas:
        "main main main main main main main"
        "footer footer footer footer footer footer footer"
    ;
}

@font-face {
    font-family: "Fancy";
    src: url(Maytra.ttf);
}

.title{
    padding: 3px;
    margin: 3px;
    text-align: center;
    font-family: "Fancy";
        src: url(Maytra.ttf);
        font-size: 4rem;
}

.flexcontainer{
    display: flex;
}

div.group {
    margin: 10px;
    padding: 1px;
}

div.group.inlined {
    width: 100%;
    display: inline-block;
    float: left;
    margin-left: 1%;
}

label {
    display: block; 
    padding-bottom: 10px;
    font-size: 1.25em;
}

input,
select,
textarea {
    border-radius: 2px;
    border: 2px solid rgb(0, 0, 0);
    box-sizing: border-box;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    margin: 1px
}

div.elem-group.inlined input {
    width: 95%;
    display: inline-block;
}

textarea {
    height: 250px;
}

.reserveform{
    float:right
}
.flexcontainer {
    width: 100%;
    height: 190vh;
    border: 1px solid black;
    display: flex;
}

.split {
    flex: 1;
    height: 190px;
}

.cell1 {
    margin:1vh;
    height: 190vh;
    flex: 1;
    font-size: 45px;
    align-items: center;
}

.cell2 {
    margin: 1vh;
    display: grid;
    height: 50vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "b1 b2"
    "b3 b4"
    "b5 b6"
    "b7 b8"
    /* fill me */
    ;
}

/* add class grid templates */
.firstname{
    grid-area: b1;
    padding: 1px;
}
.lastname {
    grid-area: b2;
    padding: 1px;
}
.email {
    grid-area: b3;
    padding: 1px;
}
.pnumber {
    grid-area: b4;
    padding: 1px;
}
.groupsize {
    grid-area: b5;
    padding: 1px;
}
.specialrequest {
    grid-area: b6;
    padding: 1px;
}
.reservedate {
    grid-area: b7;
    padding: 1px;
}
.reservetime {
    grid-area: b8;
    padding: 1px;
}
